:host ::ng-deep .app-toolbar {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  padding: 0 1 rem;
  background: rgba(66, 44, 24, 0.85);
  border-bottom: 2px solid #d8c5a3;
  font-family: 'Georgia', serif;
  color: #f5f0e6;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  height: 4rem;
  position:relative;
}

.logo {
  filter: sepia(0.5) contrast(1.2);
}

.toolbar-title {
    font-family: 'Garamond', serif;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin-left: 1rem;
  color: #f3e9d2;
  text-shadow: 1px 1px 2px #3e2c1a;
  flex-grow: 1;
}

.toolbar-left,
.toolbar-right {
  flex: 1;
  display: flex;
  align-items: center;
}

.toolbar-center {
  flex: 2;
  text-align: center;
}

